---
import LetterGlitch from "../React/LetterGlitch.tsx";
import LogoWall from "./logoWall.astro";
import SkillsList from "../React/SkillsList.tsx";
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
  <div class="max-w-7xl mx-auto space-y-8 md:py-36 pb-14">
    <div class="text-left space-y-4">
      <!-- Greeting -->
      <p class="text-md md:text-2xl">
        <span class="text-[var(--sec)] shiny-sec"> <a href="https://www.linkedin.com/in/talha-yildirimm/"> Hi, I'm Talha Yildirim </a> </span>
      </p>
    
      <!-- Title, Description, and Cowsay ASCII Art -->
      <div class="flex flex-col lg:flex-row lg:items-start space-y-4 lg:space-y-0 lg:space-x-7">
        <!-- Title -->
        <h1 class="text-[var(--white)] text-5xl md:text-6xl font-medium text-pretty leading-none">
          Software <br /> Engineer
        </h1>
    
        <!-- Description -->
        <p class="text-md md:text-2xl text-[var(--white-icon)]">
          <span class="text-neutral-300">Self driven developer, passionate about backend engineering, <a href="https://www.gnu.org/philosophy/free-software-intro.en.html" 
            class=" text-gray-900 underline dark:text-white decoration-indigo-500"> selfhosting/homelabs</a>, and digital privacy.  <!-- replace the link for selfhosting with proxmox link -->
            A strong beliver in the  <a href="https://www.gnu.org/philosophy/free-software-intro.en.html" class=" text-gray-900 underline dark:text-white decoration-indigo-500">
            Free Software Movement</a> and an outdoors enjoyer. Learn more <span class="text-[var(--sec)] shiny-sec"> <a href="https://www.linkedin.com/in/talha-yildirimm/">
            about me! </a> </span> <!-- replace linkedin hyperlink with page seprate page about me --> 
        </p>
    
        <!-- Cowsay ASCII Art -->
        <div class="flex-shrink-0 mt-4 lg:mt-0">
          <a href="https://wiki.archlinux.org/title/Main_page">
          <pre class="text-xs text-green-600  font-mono">
     ___________________
    &lt; i use arch btw  &gt;
     -------------------
            \   ^__^
             \  (oo)\_______
                (__)\       )\/\
                    ||----w |
                    ||     ||
          </pre>
        </a>
        </div>
      </div>

    <div class="flex sm:flex-row justify-center items-center gap-4">
      <a
        target="_blank"
        href="https://github.com/pacman-ty"
        aria-label="GitHub"
        class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-8"
        >
          <path
            d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"
          ></path>
        </svg>
      </a>
      <a
        target="_blank"
        href="https://linkedin.com/in/talha-yildirimm"
        aria-label="LinkedIn"
        class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-8"
        >
          <path
            d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"
          ></path>
        </svg>
      </a>
      <a
          target="_blank"
          href="https://mail.google.com/mail/?view=cm&fs=1&to=thadi@uwaterloo.ca&su=Hey%20Talha!"
          aria-label="Email"
          class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2.1em"
            height="2.1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="m18.73 5.41l-1.28 1L12 10.46L6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64"
            ></path>
          </svg>
        </a>
        <a
        target="_blank"
        href="../../public/talha_resume.pdf"
        aria-label="Resume"
        class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
        >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512.000000 512.000000"
        fill="currentColor"
        class="size-8"
      >
        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
          <path d="M1023 4885 c-178 -48 -304 -187 -332 -365 -15 -90 -15 -3830 0 -3920
          28 -180 155 -318 336 -365 49 -13 256 -15 1524 -15 955 0 1485 4 1520 10 184
          35 330 185 359 370 14 88 14 2952 0 3000 -8 27 -147 172 -628 653 -339 340
          -629 625 -644 633 -40 21 -2056 20 -2135 -1z m1979 -668 l3 -462 32 -65 c35
          -71 96 -139 158 -175 87 -51 126 -55 587 -55 l428 0 0 -1425 c0 -1573 5 -1460
          -65 -1528 -73 -71 22 -67 -1585 -67 -1607 0 -1512 -4 -1585 67 -70 68 -65 -99
          -65 2053 0 2152 -5 1985 66 2054 69 67 27 65 1076 65 l947 1 3 -463z m1048
          -530 c0 -4 -159 -7 -352 -5 -394 3 -390 3 -445 75 l-28 36 -3 366 -3 366 416
          -415 c228 -228 415 -419 415 -423z"/>
          <path d="M2001 4074 c-126 -34 -228 -119 -289 -243 -36 -73 -37 -77 -37 -191
          0 -114 1 -117 38 -192 139 -282 507 -343 720 -119 34 36 71 88 90 128 30 64
          32 74 32 183 0 109 -2 119 -32 183 -38 80 -122 173 -191 210 -101 55 -224 70
          -331 41z m217 -233 c72 -37 122 -115 122 -192 0 -161 -137 -267 -288 -224
          -159 47 -217 250 -104 368 71 75 179 94 270 48z"/>
          <path d="M1830 3124 c-169 -44 -334 -179 -408 -335 -47 -99 -58 -144 -66 -259
          -7 -103 6 -145 53 -177 42 -28 66 -29 109 -3 45 27 62 74 62 164 0 164 86 297
          240 370 l65 31 230 0 230 0 65 -31 c94 -45 153 -102 196 -189 33 -67 38 -86
          44 -180 7 -115 21 -147 75 -174 25 -12 35 -12 69 0 66 24 81 55 79 165 -4 184
          -60 321 -182 444 -87 88 -172 139 -281 169 -66 19 -102 21 -300 20 -162 0
          -240 -4 -280 -15z"/>
          <path d="M1337 1720 c-30 -24 -50 -78 -42 -113 4 -14 20 -38 36 -53 l30 -29
          699 -3 c777 -3 755 -4 786 61 23 48 12 98 -27 131 l-31 26 -712 0 c-700 0
          -714 0 -739 -20z"/>
          <path d="M1344 1141 c-20 -12 -37 -34 -44 -55 -16 -49 2 -101 44 -127 30 -18
          64 -19 1118 -19 l1086 0 31 26 c57 47 50 137 -13 175 -30 18 -72 19 -1111 19
          -1047 0 -1081 -1 -1111 -19z"/>
        </g>
      </svg>
     
      </a>
    </div>

  </div>

  <LogoWall />

  <div class="flex flex-col lg:flex-row items-center gap-8">
    <SkillsList client:load />
    <div
      class="flex justify-center md:w-full md:h-[292px] size-[290px] pt-3 md:pt-9 md:ml-16"
    >
      <LetterGlitch
        client:load
        glitchColors={["#5e4491", "#A476FF", "#241a38"]}
        glitchSpeed={33}
        centerVignette={false}
        outerVignette={true}
        smooth={true}
      />
    </div>
  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
